html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

img {
  width: 40px;
}

.header {
  background-color: #d05c2e;
}

h1 {
  font-family: Merriweather, serif;
  font-weight: bold;
  font-size: 2rem;
  color: #fff;
  padding: .5em 0;
  padding-bottom: 0;
  margin: 0;
}

div {
  display: flex;
  justify-content: space-between;
  margin: 0;
  align-items: center;
}

ul {
  list-style-type: none;
  display: flex;
}

.links a {
  color: #fff;
  font-family: Merriweather, serif;
  font-size: 1.125rem;
  font-weight: normal;
  line-height: 1.5;
  text-decoration: none;
  display: block;
  width: 100%;
}

a:hover {
  background-color: #a63f38;
  padding: .5em 2.5em;
}

.links li {
  width: 33.3333%;
  padding: .5em 0;
  text-align: center;
  border-width: thin;
  border-color: #a63f38;
  border-style: solid;
}
